@import url("base.css");

html {
    max-width: 31rem;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 2rem;
}

.lieu {
    font-family: "Noto Serif";
    font-weight: 400;
}
