@import url('inter-ui-web/inter-ui.css');

@font-face {
  font-family: "Noto Serif";
  src: url("NotoSerif-Bold.ttf");
}

@font-face {
  font-family: "Noto Serif";
  font-weight: 400;
  src: url("NotoSerif-Regular.ttf");
}

@font-face {
  font-family: "Noto Serif";
  font-weight: 400;
  font-style: italic;
  src: url("NotoSerif-Italic.ttf");
}

:root {
    --primary: #fefefe;
    --secondary: #000;
    /* alt colorscheme: 1 */
    /* --primary: red; */
    /* --secondary: #fefefe; */
    /* alt colorscheme: 2 */
    /* --primary: #F35363; */
    /* --secondary: black; */
}

li {
    list-style-type: circle;
}

ul {
    margin: 0;
    padding-left: 1rem;
}

html {
    font-family: "Inter UI", sans-serif;
    background: var(--secondary);
    color: var(--primary);
    max-width: 650px;
    padding-bottom: 2rem;
    padding-left: 2rem;
    margin-top: 2rem;
}

body {
    margin: 0;
}

h1 {
    font-family: "Noto Serif";
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 0;
}

h1 > a, h1 > a:hover {
    border-bottom: none;
}

a {
    cursor: pointer;
    color: var(--primary);
    text-decoration: none;
    border-bottom: 0.1rem solid var(--primary);
    word-wrap: break-word;
}

a:hover {
    border-bottom-style: dotted;
}

p {
    hyphens: auto;
    margin-bottom: 1.5rem;
}

.entry {
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside:avoid;
    -moz-page-break-inside:avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
}

.search-container {
    display: grid;
    margin-bottom: 2rem;
    height: 2.5rem;
    align-items: center;
    grid-template-columns: 16rem 3rem;
    grid-auto-flow: column;
    grid-column-gap: .5rem;
}

.search-box {
    font-size: 1rem;
    border-radius: 0.1rem;
    padding: .5rem;
    padding-left: 0.75rem;
    border: 0;
    color: var(--secondary);
    background: var(--primary);
}

.search-button {
	font-size: 2rem;
	color: var(--primary);
	background: var(--secondary);
	border: 0;
	cursor: pointer;
	border-radius: 2px;
    transition: opacity 150ms;
}

.search-button:hover {
    opacity: 0.5;
    transition: opacity 150ms;
}

.about-link {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-style: normal;
}

@media 
only screen 
and (min-device-width : 320px) 
and (max-device-width : 720px)
{ 
    html {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        font-size: 30pt;
        max-width: 100vw;
    }
}

@media 
only screen
and (min-device-width : 320px) 
and (max-device-width : 374px) {
    html {
        font-size: 40pt;
    }
}

/*
@media(prefers-color-scheme: light) {
:root {
    --primary: #000;
    --secondary: #fefefe;
}
*/
