@import url('base.css');

main {
    columns: 2;
}

.entry {
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside:avoid;
    -moz-page-break-inside:avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
}

.link {
    font-style: italic;
}

@media 
only screen 
and (min-device-width : 320px) 
and (max-device-width : 720px)
{ 
    main {
        columns: 1 !important;
    }
}
