@import url("about.css");

html {
    max-width: 100vw;
}

h2 {
    margin-bottom: 1rem;
}

main {
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 10rem;
}

.search-container {
    grid-template-columns: 19rem 3rem;
}

.lieu-container {
    justify-items: start;
}
