{{ template "head" . }}
<header>
    <a href="https://github.com/cblgh/lieu">Lieu</a>
    <nav>
        <ul role='list'>
            <li><a href="/webring">Webring</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>
<div class="clear"></div>
<main>
    <div class="lieu-container">
        <div>
            <h1>
                {{ .SiteName }}
            </h1>
            <h2>
                {{ .Data.Tagline }}
            </h2>
            <form class="search-container">
                <input type="search" required minlength="1" name="q" placeholder="{{ .Data.Placeholder }}" class="search-box">
                <button type="submit" class="search-button"></button>
            </form>
        </div>
    </div>
</main>
{{ template "footer" . }}
