{{ template "head" . }}
<header>
    <a class="header_home-link" href="https://github.com/cblgh/lieu">Lieu</a>
    <nav>
        <ul role='list'>
            <li><a href="/webring">Webring</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>
<div class="clear"></div>
<main>
    <article>
        <div class="flow">
            <h1>
                {{ .SiteName }}
            </h1>
            <h2 class="italic-text">
                {{ .Data.Tagline }}
            </h2>
            <form class="search-container">
                <input type="search" required minlength="1" name="q" placeholder="{{ .Data.Placeholder }}" class="flex-grow">
                <button type="submit" class="search-button"></button>
            </form>
        </div>
    </article>
</main>
{{ template "footer" . }}
