{{ template "head" . }}
{{ template "nav" . }}
<form method="GET" class="search-container">
    <label for="search">Search the webring</label>
    <input type="search" minlength="1" required name="q" placeholder="Search" value="{{ .Data.Query }}" class="search-box" id="search">
    <button type="submit" class="search-button"></button>
</form>
<main id="results">
    {{ range .Data.Pages }}
    <div class="entry">
        <a class="link" href="{{ .URL }}">{{ .Title }}</a>
        <p>{{ .About }}</p>
    </div>
    {{ end }}
{{ template "footer" . }}
