/* Block elements are grouped by "family" */

.header-home {
    padding: 2.1rem 3.2rem;
}

.header-home_link {
    font-family: "Noto Serif";
    font-weight: 400;
    font-size: 2.4rem;
    border-bottom: none;
}

.header-home_navigation *+* {
    margin-left: 1.6rem;
}


/* Search block */

.search-button {
    background-image: url("../logo.svg");
    background-repeat: no-repeat;
    cursor: pointer;
    border: 0;
    transition: opacity 150ms;
    height: 3.2rem;
    width: 4.8rem;
    background-size: cover;
    background-position: center;
}