header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
}

main {
    height: 100vh;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
}

nav li {
    display: inline-block;
}