header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
}

main {
    height: 100vh;
    display: grid;
    place-items: center;
}

nav li {
    display: inline-block;
}