header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
}

main {
    height: 95vh;
    display: grid;
    place-items: center;
}

nav li {
    display: inline-block;
}