:root {
    --primary: #fefefe;
    --secondary: #000;
    /* alt colorscheme: 1 */
    /* --primary: red; */
    /* --secondary: #fefefe; */
    /* alt colorscheme: 2 */
    /* --primary: #F35363; */
    /* --secondary: black; */
}

/* Font-size 62.5% allows using rems as pixels. For ex: 1.6rem = 16px. Way es */
html {
    font-size: 62.5%;
}


body {
    font-family: "Inter UI", sans-serif;
    background: var(--secondary);
    color: var(--primary);
    font-size: 1.6rem;
}

a {
    cursor: pointer;
    color: var(--primary);
    text-decoration: none;
    border-bottom: 0.1rem solid var(--primary);
    word-wrap: break-word;
}

a:hover {
    border-bottom-style: dotted;
}

h1 {
    font-family: "Noto Serif";
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 1;
}

h2 {
    font-family: "Noto Serif";
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1;
}

input[type="search"] {
    font-size: 1.6rem;
    border-radius: 0.16rem;
    padding: 0.8rem 0.8rem 0.8rem 1.2rem;
    border: 0;
    color: var(--secondary);
    background: var(--primary);
}