.italic-text {
    font-style: italic;
}

.flow>*+* {
    margin-top: 1.6rem;
}

.flow2>*+* {
    margin-top: calc(1.6rem * 2);
}

.flex-grow {
    flex-grow: 1;
}

.grid-items-center {
    display: grid;
    place-items: center;
}

.margin-top-main {
    margin-top: 11.5rem;
}

.width-63ch {
    max-width: 63ch;
}

.two-columns {
    columns: 2;
}

@media (max-width: 700px) {
    .two-columns {
        columns: 1;
    }
}