.italic-text {
    font-style: italic;
}

.flow>*+* {
    margin-top: 1.6rem;
}

.flex-grow {
    flex-grow: 1;
}

.grid-items-center {
    display: grid;
    place-items: center;
}

.margin-top-main {
    margin-top: 11.5rem;
}