.italic-text {
    font-style: italic;
}

.flow>*+* {
    margin-top: 1.6rem;
}

.flex-grow {
    flex-grow: 1;
}

/* .translateY-minus50 {
    transform: translateY(-50%);
} */

.grid-items-center {
    display: grid;
    place-items: center;
}


.margin-top-100px {
    margin-top: 100px;
}